.card{
    padding: .5rem 1 rem;
    border: 1px dashed #ccc;
    margin-bottom: 1rem;
    width: 50%;
    height: 13rem;
    margin: 10px auto;
    vertical-align: top;

    h2{
        margin-bottom: .5rem;
    }
}

.photo{
    width: 160px;
    height: 160px;
    border: 1px dashed rgb(190, 138, 138);
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

h1{
   text-align: center;
}

.see_all_btn{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}

.see_all_btn:hover{
    background-color:#4095c6;
}