<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlackRock</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-datepicker3.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scripts.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
    <div class="d-flex flex-row">
        <div class="border-end bg-white" id="wrapper">
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Menu</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area="" asp-controller="Barbers" asp-action="Index">Barbers</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area="" asp-controller="Reviews" asp-action="Index">Reviews</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area="" asp-controller="BusyRecords" asp-action="Index">Recording</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area="" asp-controller="About" asp-action="Index">About</a>
                    @if(User.IsInRole("Admin"))
                    {
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                    }
                </div>
            </div>
        </div>
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                    }
                                    else
                                    {
                                        <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                    }
                                }
                                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="d-flex" style="width: 100%; height: 90%;">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
