<div class="d-flex row justify-content-center" style="width: 100%; height: 100%;">
    <div class="d-flex justify-content-center">
        <img src=""/>
    </div>
    <div class="d-flex justify-content-center align-items-baseline" style="width: 50rem;">
        Our Barbershop is not just a men's hairdresser, it is a place where every man can spend his free time.
        Here you can have a beard cut, men's hair cut and you can enjoy drinks, escape from the routine,
        chat with interesting people, discuss the latest news and current topics. Convenient work schedule that matches
        the overwhelming majority of office work schedules. Nice prices ;)
    </div>
</div>